
/*
** color scheme: http://wellstyled.com/tools/colorscheme2/index-en.html
** http://wellstyled.com/tools/colorscheme2/index-en.html?mono;50;0;210;1;-1;1;-0.6;0.1;1;0.2;0.95;1;-1;1;-0.6;0.1;1;0.6;1;1;-1;1;-0.6;0.1;1;0.6;1;1;-1;1;-0.6;0.1;1;0.6;1;1
*/

@media screen {
body {
	margin: 0px;
	padding: 0px;
	color: #000;
	background-color: #fff;
	font-family: Arial,Helvetica,sans-serif;
}

a,
a:hover {
	font-family: Arial,Helvetica,sans-serif;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

pre {
	font-family: monospace;
	margin-left: 2em;
	padding: 0.1em;
	border: 1px solid #000;
}

.header {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.header h1,
.header h2 {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: normal;
}

.header h1 {
	position: relative;
	width: 13em;
	float: left;
	text-align: center;

	background-color: #066;
	color: #fff;
}

.header h2 {
	border-left: 14em solid #ddd;
	border-right: 1em solid #ddd;
	background-color: #399;
	border-color: #399;
	color: #cff;

}

.header h1 .site_logo,
.header h2 .page_title {
	display: block;
	padding: 0.5em 0em;
	font-weight: bold;
	font-size: 200%;
	line-height: 1em;
}

.header h1 a,
.header h1 a:hover {
	color: #fff;
}
.header h1 .site_logo_text {
	color: #cff;
}
.header h1 a,
.header h1 a:hover,
.header h1 .site_logo_text:hover {
	font-weight: bold;
	text-decoration: none;
}

.toc {

}

.body {
	position: relative;
	width: 100%;
	overflow: hidden;
	color: #033;
}

.menu {
	position: relative;
	float: left;
	overflow: hidden;
	width: 13em;
	z-index: 1;
	background-color: #399;
}

.menu ul {
	list-style: none;
	margin: 0px;
	padding: 0.5em;
}
.menu li ul {
	margin-left: 1em;
	padding: 0px;
}
.menu li {
	padding: 0px;
	margin: 0px;
	display: inline;
}
.menu li a {
	display: block;
	position: relative;
	padding: 3px 0px 3px 5px;
}
.menu,
.menu li a {
	color: #cff;
	font-weight: bold;
}
.menu li a.current {
	color: #399;
	background-color: #cff;
}
.menu li a:hover {
	text-decoration: none;
	color: #cff;
	background-color: #066;
}

.contents {
	position: relative;
	border-left: 13em solid #399;
	padding: 0.5em 1em;
	background-color: #fff;
	color: #000;
}
.contents a,
.contents a:hover {
	color: #066;
	font-weight: bold;
}

.footer {
	position: relative;
	width: 100%;
	clear: both;
}

.footer p {
	margin: 0px;
	padding: 0.5em 1em;

	text-align: right;
	font-size: 80%;
	background-color: #066;
	color: #cff;
}
} /* media screen */

@media print {

p {
	text-align: justify;
}

.header h1,
.header h1 a {
	margin: 0px;
	padding: 0px 0px 2px;
	font-size: 80%;
	text-align: right;
	border-bottom: 1px solid #000;
}

.menu {
	display: none;
}

.footer p {
	border-top: 1px solid #000;
	padding-top: 2px;
	margin: 0px;
	text-align: right;
	font-size: 80%;
}

} /* @media print */
